.card {
  border-radius: var(--border-radius);
  background-color: #37393f;
  padding: 40px;
  padding-bottom: 50px;
  text-align: center;
  width: 305px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.cardTitle {
  text-align: left;
}

.refreshBtn {
  border: none;
  background: none;
}

.refreshBtn:active {
  opacity: 0.5;
}

.cardFooter {
  opacity: 0.4;
  font-size: 0.8rem;
}
