.card {
  border-radius: 12px;
  background-color: #37393f;
  padding: 40px;
  padding-bottom: 50px;
  text-align: center;
  width: 305px;
  margin-bottom: 30px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.refreshBtn {
  border: none;
  background: none;
}

.cardFooter {
  opacity: 0.4;
}
