.card {
  border-radius: 12px;
  background-color: #37393f;
  padding: 40px;
  padding-bottom: 50px;
  text-align: center;
  min-width: 300px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.cardValue {
  margin-top: 20px;
  font-weight: 300;
  font-size: 5rem;
}

.cardFooter {
  opacity: 0.4;
}
