.modalContainer {
  border: none;
  border-radius: 12px;
  margin-left: 300px;
  padding: 10px 5px;
  margin-top: 10px;
  /* backdrop-filter: saturate(180%) blur(20px); */
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.optionBtn {
  padding: 0 15px;
  background: none;
  border: none;
  border-right: 1px solid rgb(50, 50, 50);
}

.optionBtn:last-child {
  border-right: none;
}
