.holidayContainer {
  position: relative;
  left: -68px;
  width: 160%;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holidayContainer button {
  cursor: pointer;
  display: flex;
  z-index: 1;
  position: absolute;
  font-size: 20px;
  height: 70%;
  padding-top: 10px;
  background: none;
  border: none;
  outline: none;
}

.leftArrow {
  left: 50px;
  transform: rotate(270deg);
}

.rightArrow {
  right: 50px;
  transform: rotate(90deg);
}
