.day {
  margin-top: 20px;
  font-weight: 300;
  font-size: 2.5rem;
  color: #fff37d;
  margin-bottom: 8px;
}

.left,
.dayName,
.reason {
  opacity: 0.8;
}

.dayName {
  color: #00d22e;
  font-size: 1.2rem;
  font-weight: 700;
}

.isWeekend {
  color: red;
}

.reason {
  margin-bottom: 10px;
}
