.container {
  position: relative;
  text-align: left;
  padding: 10px 0;
}

.source {
  display: flex;
}

.source a {
  opacity: 0.55;
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.source img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.time {
  opacity: 0.55;
  font-size: 0.7rem;
  margin-top: 1px;
}

.btnText {
  color: white;
  font-family: 'Montserrat';
  background: none;
  border: none;
  text-align: left;
  font-size: 0.9rem;
}
